@import "compass";
@import "compass/reset";
@import "bootstrap";

html, body{
  height: 100%;
}
.layout{
  height: 100%;
}
body {
  background-color: #fff;
}
.room-button{
  width:100%;
}
.container-vertical {
  height: 100%;
  display: table;
}
.vertical-center-row {
  display: table-cell;
  vertical-align: middle;
  position:relative;
  top:-50px;
}
.success-block {
  @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
}
.medium-label{
  font-size:19px;
}
.error-template {padding: 40px 15px;text-align: center;}
.logo-input{
  width:100%;
}
.chat{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  overflow: hidden;
}
.chat-navigation{
  position:absolute;
  top:0;
  left:0;
  height:45px;
  width:100%;
  z-index:10;
}
.chat-navigation * {
  height:100%;
}
.chat-navigation > div {
  position:absolute;
}
.chat-navigation > div:first-child {
  width:100px;
  left:0;
}
.chat-navigation > div:first-child+div {
  width:100px;
  left:100px;
}
.chat-window-wrapper{
  overflow-x: hidden;
  display: block;
  position:absolute;
  height:auto;
  bottom:0;
  top:0;
  left:0;
  right:-20px;
  margin-bottom:45px;
  background:#eee;
}
.chat-window{
  height:auto;
  margin:50px 0;
}
.chat-message{
  position:absolute;
  bottom:0;
  left:0;
  height:45px;
  width:100%;
}
.chat-message * {
  height:100%;
}
.chat-message button{
  width:100%;
}
.chat-message > .send {
  position:absolute;
  width:100px;
  left:0;
}
.chat-message > .input {
  position:absolute;
  width:auto;
  right:0;
  left:0;
  margin-left:100px;
}

.chat-window{

}
.panel-left, .panel-right{
  margin-top:10px;
  width:80%;
  margin: 10px auto 0;
}
